body {
    max-width: 1920px;
    margin: 0 auto;
    background-color:#171717;
}

header {
    display: flex;
    justify-content: center;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px 30px 0;
}

.button-call {
    border: 1px solid#E4B564;
    padding: 10px 25px 10px 26px ;
}

.call-link {
    font-family: 'Circle';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: #E4B564;
}

.image-call {
    padding-right: 10px;
}


.first-section, .second-section, .third-section {
    width: 1460px;
    margin: 0 auto;
    font-family: 'Gilam';
    font-style: normal;
    color: #ffffff;
}

.first-section {
    margin-top: 128px;
}

.first-title, .second-title, .third-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.first-paragraph {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-top: 41px;
}

.container-heatnetwork {
    display: grid;
    margin-top: 21px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 963px;
    row-gap: 34px;
    column-gap: 27px;
}

.heatnetwork {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.item1 {
    grid-column: 1/3;
    background: #634F2C;
}

.item2 {
    grid-column: 3/5;
    background: #B4A385;
}

.item3 {
    grid-column: 5/7;
    background: #E4B564;
}

.item4 {
    grid-column: 1/4;
    background: #635A4A;

}

.item5 {
    grid-column: 4/7;
    background: #B08C4D;
}



.second-title {
    margin-top: 161px;
}

.container-park {
    display: grid;
    margin-top: 94px;
    margin-bottom: 191px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "object1 object2 object3"
    "object1 object2 object3"
    "object4 object2 object6"
    "object4 object5 object6"
    "object4 object5 object7"
    "object4 object5 object7";
    height: 897px;
    row-gap: 30px;
    column-gap: 27px;
}

.park {
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    padding-top: 44px;
    padding-left: 52px;
}

.object1 {
    grid-area: object1;
    background: #0E0E0E;
}

.object2 {
    grid-area: object2;
    background: #242424;
}

.object3 {
    grid-area: object3;
    background: #1F1F1F;
}

.object4 {
    grid-area: object4;
    background: #1F1F1F;
}

.object5 {
    grid-area: object5;
    background: #E4B564;
}

.object6 {
    grid-area: object6;
    background: #0A0909;
}

.object7 {
    grid-area: object7;
    background: #0A0909;
}



footer {
    background: #0E0E0E;
}

.third-section {
    display: flex;
    justify-content: space-between;
}

.third-title{
    margin-top: 191px;
}

.button-projects{
    margin-top: 191px;
    border: 1px solid#E4B564;
    padding: 10px 40px ;
}

.projects-link {
    font-family: 'Circle';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: #E4B564;
}

.container-about {
    display: grid;
    padding-inline: 30px;
    margin-top: 72px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 782px;
}

.about {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.module1 {
    background: #634F2C;
    grid-column: 1;
    padding-top: 171px;
}

.module2 {
    background: #E8D2ABC2;
    grid-column: 2;
    padding-top: 61px;
}

.module3 {
    background: #E4B564;
    grid-column: 3;
    padding-top: 174px;
}

.module4 {
    background: #635A4A;
    grid-column: 1;
    padding-top: 174px;
}

.module5 {
    background: #B08C4D;
    grid-column: 2;
    padding-top: 169px;
}

.module6 {
    background: #634F2C;
    grid-column: 3;
    padding-top: 171px;
}
